* {
    box-sizing: border-box;
    font-family: 'Roboto';
}

header {
    display: flex;
    background-color: #1F2937;
}
h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin: 0;
}
.hero-logo {
    display: flex;
    flex: 1;
    justify-content: left;
    font-size: 24px;
    color: #f9faf8;
    padding-left: 150px;
}

.hero-link-container {
    display: flex;
    flex: 1.5;
    justify-content: center;
    color: #e5e7eb;
    font-size: 18px;
}

.hero-link {
    margin: 0 20px;
    align-content: center;
}
#sect-1-container {
    padding: 75px 0;
    justify-content: center;
    display: flex;
    background-color: #1F2937;
}
#sect-1-text {
    justify-content: center;
    text-align: left;
    margin-left: 150px;
    padding-right: 25px;
    flex: 1;
    font-size: 18px;
    color: #e5e7eb;
}
#sect-1-image-container {
    flex: 1;
    margin-right: 150px;
}
#sect-1-image {
    background-color: grey;
    padding: 75px 0;
    text-align: center;
    justify-content: center;
    color:#e5e7eb;
    flex: 1;
    height: 100%;
    align-items: center;
    align-content: center;
}
button {
    background-color: #3882f6;
    color: #e5e7eb;
    padding: 5px 15px;
    border-radius: 5px;
    border-color: #3882f6;
    font-size: 18px;
    border: 0;
}
#sect-2-container {
    display: flex;
}
.center-content-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 750px;
    margin: 0 200px;
}
#sect-2-image-container{
    display: flex;
    justify-content: space-between;
}
#sect-2-heading {
    display: flex;
    justify-content: center;
}
.image-container {
    width: 125px;
    margin: 0 15px;
}
.image-container img {
    height: 125px;
    width: 125px;
    border-style: solid;
    border-color: #3882f6;
    border-width: 3px;
    border-radius: 5px;
}
.image-caption {
    color: #1F2937;
    font-size: 18px;
    text-align: center;
}
#sect-2-heading h1 {
    color: #1F2937;
    font-size: 36px;
    padding: 25px 0;
}
.quote {
    color: #1f2937;
}
.quote#text {
    font-size: 36px;
    font-weight: 300;
    text-align: left;
}
.quote#source {
    font-size: 18px;
    text-align: right;
    font-weight:900;
}
#sect-3-container {
    background-color: #e5e7eb;
}